@model IEnumerable<SparkClips.Models.HairyDatabase.GalleryEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Body)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Upvotes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Downvotes)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Upvotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Downvotes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.GalleryEntryID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.GalleryEntryID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.GalleryEntryID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
