@model SparkClips.Models.HairyDatabase.LogEntry
@{
    ViewData["Title"] = "Log detail";
}
@section Styles {
    <link rel="stylesheet" href="~/css/log.css" />
}


<h2>@Html.DisplayFor(model => model.Location)</h2>

@foreach (var image in Model.Images)
{
    <img src="@Html.DisplayFor(x =>image.Image.Url)" />
}


<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Barbers)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Barbers)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Cost)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Cost)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>