@model SparkClips.Models.HairyDatabase.GalleryEntry
@{
    ViewData["Title"] = "Gallery detail";
}
@section Styles {
    <link rel="stylesheet" href="~/css/gallery-detail.css" />
}


<h2>@Html.DisplayFor(model => model.Title)</h2>

@foreach (var image in Model.Images)
{
    <img class="container" src="@Html.DisplayFor(x =>image.Image.Url)" />
}


<dl class="dl-horizontal">
    <!-- Tags -->
    <dt>
        Characteristics
    </dt>
    <dd>
        <ul>
        @foreach(var GalleryEntry_Tag in Model.Tags) {
            <li>(@GalleryEntry_Tag.Tag.Name)</li>
        }
        </ul>
    </dd>
    <!-- Description and instructions -->
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Instructions)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Instructions)
    </dd>
</dl>