@model IEnumerable<SparkClips.Models.HairyDatabase.GalleryEntry>
@{
    ViewData["Title"] = "Gallery";
}
@section Scripts {
    <script>
        var buttons = document.querySelectorAll(".glyphicon-star");
        buttons.forEach(function(cur) {
            cur.onclick = function() {
                var req = new XMLHttpRequest();
                req.open("POST", "api/GalleryEntry_ApplicationUserApi");
                req.setRequestHeader("Content-Type", "application/json");
                req.onload = function() {console.log("lol")};
                req.onerror = function() {console.log("naw")};
                console.log(this.id); 
                var json = {"GalleryEntryID": parseInt(this.id), "ApplicationUserId": 1};
                console.log(JSON.stringify(json));
                req.send(json);
            }
        });
    </script>
}
@section Styles {
    <link rel="stylesheet" href="~/css/gallery.css" />
}
<h2>@ViewData["Title"].</h2>


<div class="row">
    <div class="col-md-10">
        <h3 class="pageTitle">Gallery</h3>
        <div class="flex-row">

            @foreach (var item in Model)
            {
                <div class="flex-column card" style="width: 20rem;">
                    <img class="card-img-top" src="@Html.DisplayFor(x => item.Thumbnail)" alt="@Html.DisplayFor(model => item.Title)">
                    <div class="card-block">
                        <h4 class="card-title">@Html.DisplayFor(model => item.Title) (@Html.DisplayFor(model => item.Likes) likes)</h4>
                        <p class="card-text">@Html.DisplayFor(model => item.Description)</p>
                        <a asp-action="Detail" asp-route-id="@item.GalleryEntryID" class="btn btn-primary">View</a>
                        <button id="@item.GalleryEntryID" class="btn btn-primary glyphicon glyphicon-star"></button>
                    </div>
                </div>
            }

        </div>
    </div>
    <div class="col-md-2 filters">
        <h3>
            Filter
        </h3>
        <div class="form-group">
            <label for="length">Length:</label>
            <select class="form-control" id="length">
                <option>Very Short</option>
                <option>Short</option>
                <option>Average</option>
                <option>Long</option>
                <option>Very Long</option>
            </select>
        </div>
        <div class="form-group">
            <label for="maintainance">Maintainance:</label>
            <select class="form-control" id="maintainance">
                <option>Easy</option>
                <option>Medium</option>
                <option>Hard</option>
            </select>
        </div>
        <div class="form-group">
            <label for="beard">Beard:</label>
            <select class="form-control" id="beard">
                <option>Yes</option>
                <option>No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="quality">Hair Quality:</label>
            <select class="form-control" id="quality">
                <option value="">Curly</option>
                <option value="">Straight</option>
                <option value="">Fuzzy</option>
                <option value="">Bushy</option>
            </select>
        </div>
    </div>
</div>